html, body {
	margin: 0;
	background-color: #2f313d;
	font-family: Verdana, Arial;
	color: #fff;
	padding: 0;
	width: 100%;
	height: 100%;
	min-width: 560px;
}

div.block {
	width: 100%;
	padding-top: 1%;
	box-sizing: border-box;
	height: 93%;
}

div.path {
	height: 4%;
	width: 98%;
	margin: 0 auto;
	margin-bottom: 0.2%;
}

div.path p {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 18px;
}

div.path div.animation {
	margin: 0;
	padding: 0;
	margin-right: 15px;
	float: right;
	display: none;
	position: relative;
 	top: -3px;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: none;
	border: 2px solid #fff;
	border-top: 2px solid #228b22;
	animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

form.download, form.delete, form.upload {
	display: none;
}

div.path span.button {
	float: right;
	position: relative;
	margin-left: 15px;
	top: -3px;
	border: none;
}

div.path span.button:hover {
	cursor: pointer;
}

div.path span.button.download {
	background-color: #228b22;
}

div.path span.button.download.unactive {
	background-color: #228b2266;
}

div.path span.button.delete {
	background-color: #d90000;
}

div.path span.button.delete.unactive {
	background-color: #d9000066;
}

div.path span.button.folder {
	background-color: #e8b55c;
}

div.storage {
	color: #696969;
	padding: 0;
	border: 1px solid #1a1b21;
	width: 98%;
	height: 90%;
	margin: 0 auto;
	margin-bottom: 0.7%;
	background-color: #fff;
	border-radius: 4px;
	overflow: auto;
}

div.storage:drag-over {
	background-color: red;
}

div.footer {
	text-align: center;
	width: 100%;
	color: #fff;
}

div.footer p {
	margin: 0;
	padding: 0;
}

div.header {
	height: 68px;
	padding-left: 1.5%;
	padding-right: 2%;
	box-sizing: border-box;
	width: 100%;
	background-color: #1a1b21;
}

div.header div.header-text {
	height: 100%;
	color: #fff;
	display: inline-block;
    padding-top: 23px;
}

div.header-block {
	display: inline-block;
	float: right;
}

div.header-storage {
	position: relative;
	left: -22%;
}

div.header-button {
	padding-top: 15px !important;
}

a.button, span.button {
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	border-radius: 4px;
	padding: 6px 15px; 
	height: 35px;
	color: #fff;
	background-color: transparent;
	box-sizing: border-box;
	border: 1px solid #fff;	
}

div.upload-block {
	pointer-events: none;
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}


div.upload-block.unvisible {
	visibility: hidden;
}

div.upload-block * {
	pointer-events: none;
}

div.upload-block div.upload {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #000;
	opacity: 0.8;
}

div.upload-block div.upload div.upload-text {
	background-color: none;
	width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 50px;
	color: #bababa;
	font-weight: 700;
	text-shadow: -2px -2px 1px #000, 2px 2px 1px #000;
}

div.upload-block div.upload div.upload-text p {
	position: relative;
	top: -25px;
}

div.storage ul {
	width: 100%;
	font-size: 18px;
	padding: 0;
	margin: 0;
	list-style: none;
}

div.storage ul li {
	width: 100%;
	height: 30px;
	padding-left: 5px;
	box-sizing: border-box;
	border: none;
	border-bottom: 0.5px solid #a5a4a4;
}

div.storage ul li:hover {
	color: #fff;
	background-color: #5c6078;
}

div.storage ul li label {
	height: 100%;
	display: block;
}

div.storage ul li label input {
	margin: 0;
	padding: 0;
}
 
div.storage ul li.folder label input {
	position: relative;
	top: -6px;
}

div.storage ul li.file label input {
	position: relative;
	top: -2px;
}

div.storage ul li div.storage-element {
	display: inline-block;
}

div.storage li.folder div.storage-element {
	position: relative;
	top: -7px;
}

div.storage li.file div.storage-element {
	position: relative;
	top: -3px;
}

div.storage li.folder div.storage-element:before {
	content: '';
	background: url('../img/folder_ico.png');
	width: 30px;
	height: 30px;
	position: relative;
	top: 2px;
	margin-right: 10px;
	display: inline-block;
}

div.storage li.file div.storage-element:before {
	content: '';
	background: url('../img/file_ico.png');
	width: 30px;
	height: 26px;
	position: relative;
	top: 3.5px;
	left: -1.5px;
	margin-right: 10px;
	display: inline-block;
}
