html, body {
	margin: 0;
	background-color: #c1bdba;
	font-family: Verdana, Arial;
	color: #fff;
	padding: 0;
	width: 100%;
	height: 100%;
}

div.block {
	width: 100%;
	padding-top: 1%;
	box-sizing: border-box;
	height: 93%;
}

div.path {
	height: 4%;
	width: 98%;
	margin: 0 auto;
	margin-bottom: 0.2%;
}

div.path p {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 18px;
}

div.path a.button {
	float: right;
	position: relative;
	top: -3px;
	background-color: #228b22;
	border: none;
}

div.path a.button.unactive {
	background-color: #228b2266;
}

div.storage {
	padding: 0;
	border: 2px solid #696969;
	width: 98%;
	height: 90%;
	margin: 0 auto;
	margin-bottom: 0.7%;
	background-color: #fff;
	border-radius: 4px;
	overflow: auto;
}

div.footer {
	text-align: center;
	width: 100%;
	color: #696969;
}

div.footer p {
	margin: 0;
	padding: 0;
}

div.header {
	height: 68px;
	padding-left: 1.5%;
	padding-right: 2%;
	box-sizing: border-box;
	width: 100%;
	background-color: #1f383c;
}

div.header div.header-text {
	height: 100%;
	color: #fff;
	display: inline-block;
    padding-top: 23px;
}

div.header-block {
	display: inline-block;
	float: right;
}

div.header-storage {
	position: relative;
	left: -22%;
}

div.header-button {
	padding-top: 15px !important;
}

a.button {
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	border-radius: 4px;
	padding: 6px 15px; 
	height: 35px;
	color: #fff;
	background-color: transparent;
	box-sizing: border-box;
	border: 1px solid #fff;	
}

div.storage ul {
	width: 100%;
	color: #696969;
	font-size: 18px;
	padding: 0;
	margin: 0;
	list-style: none;
}

div.storage ul li {
	width: 100%;
	height: 30px;
	padding-left: 5px;
	box-sizing: border-box;
	border: none;
	border-bottom: 1px solid #a5a4a4;
}

div.storage ul li:hover {
	color: #fff;
	background-color: #1f383c;
}

div.storage ul li label {
	height: 100%;
	display: block;
}

div.storage ul li label input {
	margin: 0;
	padding: 0;
}
 
div.storage ul li.folder label input {
	position: relative;
	top: -6px;
}

div.storage ul li.file label input {
	position: relative;
	top: -2px;
}

div.storage ul li div.storage-element {
	display: inline-block;
}

div.storage li.folder div.storage-element {
	position: relative;
	top: -7px;
}

div.storage li.file div.storage-element {
	position: relative;
	top: -3px;
}

div.storage li.folder div.storage-element:before {
	content: '';
	background: url('../img/folder_ico.png');
	width: 30px;
	height: 30px;
	position: relative;
	top: 2px;
	margin-right: 10px;
	display: inline-block;
}

div.storage li.file div.storage-element:before {
	content: '';
	background: url('../img/file_ico.png');
	width: 30px;
	height: 26px;
	position: relative;
	top: 3.5px;
	left: -1.5px;
	margin-right: 10px;
	display: inline-block;
}
