<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Storage</title>
	
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/admin.css">

	<script src="/socket.io/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/admin.js"></script>
</head>
<body>

	<!-- Header -->
	<div class="header">
		<!-- User's email -->
		<div class="header-text header-email">
			{{user_email}}
		</div>
		
		<!-- Storage size and sign out button -->
		<div class="header-block">
			
			<div class="header-text header-button">

				<a class="button" href="admin/sign_up">
					Sign up new admin
				</a>

			</div>

			<div class="header-text header-button">

				<a class="button" href="sign_out_handler">
					Sign out
				</a>

			</div>
		</div>

	</div>
	
	<!-- Admin's control panel -->
	<div class="block">

		<div class="panel">
			<div class="panel-wrapper">
				<div class="users">
					<div class="table-header users-header">Users</div>
					<div class="users-list">
						<ul>
							{{#each items}}
								<li class="user">
									&bullet; <div class="user-element">{{this.email}}</div>
								</li>
							{{/each}}
						</ul>
					</div>
				</div>
				<div class="users-info">
					<div class="user-stats">
						<div class="table-header stats-header">Stats</div>
						<div class="stats">
							<div class="stats-wrapper">
								<p class="user-login">login: <strong>-</strong></p>
								<p class="user-email">email: <strong>-</strong></p>
								<p class="user-size">size: <strong>-</strong></p>
								<p class="user-admin">admin: <strong>-</strong></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer"><p>&copy; Nikita Kemarskiy</p></div>
		
	</div>
</body>
</html>