<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Storage</title>
	
	<link rel="stylesheet" type="text/css" href="../css/main.css">

	<script src="/socket.io/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/main_functions.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
</head>
<body>
	
	<!-- Upload fixed window -->
	<div class="upload-block unvisible">
		<div class="upload">
			<div class="upload-text">
				<p>Drop files here to upload</p>
			</div>
		</div>
	</div>

	<!-- Header -->
	<div class="header">
		
		<!-- User's email -->
		<div class="header-text header-email">
			{{user_email}}
		</div>
		
		<!-- Storage size and sign out button -->
		<div class="header-block">
			<div class="header-text header-storage">{{storage_size}}</div>

			<div class="header-text header-button">

				<a class="button" href="sign_out_handler">
					Sign out
				</a>

			</div>
		</div>

	</div>

	<!-- User's storage -->
	<div class="block">
		<div class="path">
			<p>path: /</p>
			
			<span class="button download unactive">
				Download files
			</span>
		
			<span class="button delete unactive">
				Delete files
			</span>
		</div>

		<div class="storage">
			<ul>
				{{#each items}}
					<li class="{{this.type}}">
						<label>
							<input type="checkbox"><div class="storage-element">{{this.name}}</div>
						</label>
					</li>
				{{/each}}
			</ul>
		</div>

		<div class="footer"><p>&copy; Nikita Kemarskiy</p></div>
	</div>

	<form action="/files/download" method="post" target="_blank" id="download" class="download">
		<input type="text" name="email" class="email">
		<input type="text" name="path" class="path">
		<input type="text" name="items" class="items">
		<input type="text" name="archive_name" class="archive_name">
	</form>

	<form action="/files/delete" method="post" target="_blank" id="delete" class="delete">
		<input type="text" name="email" class="email">
		<input type="text" name="path" class="path">
		<input type="text" name="items" class="items">
	</form>

	<form action="/files/upload" method="post" target="_blank" id="upload" class="upload">
		<input type="file" name="files" class="files" multiple>
	</form>

</body>
</html>